@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0d7;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af; 
  border-radius: 8px;
  border: 2px solid #f0f0d7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; 
}